
body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Tahoma;
    font-size: 12px; /* 	background: #FFFFFF url(images/img01.jpg) repeat-x left top; 	text-align: left; */
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-color: #f0f9fe;
    margin: 0;
}

select {
    max-width: 300px;
}

h3 {
    font-size: small;
}

.label_d {
    color: #495E88;
    font-size: 9pt;
}

.label_r {
    color: #FF0000;
    font-weight: bold;
    font-size: 9pt;
}

.label_w {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 9pt;
}

.label_h {
    color: #495E88;
    font-weight: bold;
    font-size: 9pt;
}

.label_error {
    font-size: 9pt;
    color: Red;
}

.link_error {
    color: #495E88;
    font-weight: bold;
    font-size: 9pt;
    text-decoration: none;
}

    .link_error :hover {
        color: #495E88;
        font-weight: bold;
        font-size: 9pt;
        text-decoration: underline;
    }

.label_hbk {
    color: #000000;
    font-weight: bold;
    font-size: 9pt;
}

.label_hb {
    color: #000000;
    font-size: 9pt;
}

.label_r {
    color: #FF0000;
    font-weight: bold;
    font-size: 9pt;
}

.title_h {
    color: #495E88;
    font-weight: bold;
    font-size: 11pt;
}

.text1 {
    behavior: url(../behaviors/maxlength.htc);
    color: #000000;
    border-right: #FFCC00 1px solid;
    border-top: #FFCC00 1px solid;
    background: #FEF7ED;
    border-left: #FFCC00 1px solid;
    border-bottom: #FFCC00 1px solid;
    font-family: "tahoma";
    font-size: 9pt;
}

.text_d {
    behavior: url(../behaviors/maxlength.htc);
    color: #000000;
    border-right: #FF6600 1px solid;
    border-top: #FF6600 1px solid;
    background: #FFFFFF;
    border-left: #FF6600 1px solid;
    border-bottom: #FF6600 1px solid;
    font-family: "tahoma";
    font-size: 9pt;
    text-align: right;
}

.textdisable {
    color: #000000;
    border-right: #FF6600 1px solid;
    border-top: #FF6600 1px solid;
    background: #EAEAEA;
    border-left: #FF6600 1px solid;
    border-bottom: #FF6600 1px solid;
    font-family: "tahoma";
    font-size: 9pt;
}

.textdisable_r {
    color: #000000;
    border-right: #FF6600 1px solid;
    border-top: #FF6600 1px solid;
    background: #EAEAEA;
    border-left: #FF6600 1px solid;
    border-bottom: #FF6600 1px solid;
    font-family: "tahoma";
    font-size: 9pt;
    text-align: right;
}

.button_a {
    font-weight: bold;
    font-size: 9pt;
    background: #FF9966;
    cursor: hand;
    color: #333333;
    font-family: "Tahoma";
    text-decoration: none;
    border-right: #133852 1px solid;
    border-top: #afc4d5 1px solid;
    border-left: #afc4d5 1px solid;
    border-bottom: #133852 1px solid;
}

.tblboda {
    /*The table with the border*/
    border-width: 1px;
    border-style: solid;
    border-color: #AECAF0;
    padding: 2%;
}

.tblborder {
    border-right: solid 1px #AECAF0;
    border-top: solid 1px #AECAF0;
    border-left: solid 1px #AECAF0;
    border-bottom: solid 1px #AECAF0;
}

/* Master Page Layout */

#div_menu {
    margin: -1px auto 0 auto;
    width: 100%;
}

#master_header {
    margin: -1px auto 0 auto;
    width: 100%;
}

#master_page {
    margin: 2px auto 20px auto;
    width: 100%;
}

#master_headertop {
    background: url(images/headertop_img.jpg) no-repeat left top;
}

#master_headerbottom {
    background: url(images/headerbottom_img.png) no-repeat left top;
}


#master_menu {
    float: left;
    width: 24%;
    padding-right: 10px;
}

.sidebar {
    width: 100%;
    margin-bottom: 10px;
}

.sidebarheader {
    height: 24px;
    padding: 10px 0 0 35px;
    background: url(images/sidebar_header.png) no-repeat left top;
    color: #FFF;
    font-family: Arial, Sans-Serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebarcontent {
    border: 1px solid #0F2543;
    padding: 20px 20px 20px 30px;
    line-height: 1.5em;
    font-weight: bold;
}

#master_sidebarSamples {
    padding-top: 20px;
    background: #FFF url(images/samples_bg.gif) no-repeat left top;
}

#master_sidebarWalkthroughs {
    padding-top: 72px;
    background: #FFF url(images/walkthrough_bg.gif) no-repeat left top;
}

.sidebarcontent a {
    padding: 2px 5px;
    color: #5377A9;
    text-decoration: none;
}

    .sidebarcontent a:hover {
        background-color: #0F2543;
        color: #FFF;
    }

    .sidebarcontent a:visited {
        font-weight: normal;
    }

#master_content {
    float: left;
    width: 75%;
    margin-right: -75%px;
    color: #666666;
}

    #master_content ul {
        margin: 0 25px 0 30px;
    }

        #master_content ul li ul li {
            list-style-type: disc;
        }

#master_contentheader {
    height: 19px;
    background: url(images/rightcoltop.gif) no-repeat left top;
}

#navigation1 {
    position: absolute;
    left: 0;
    width: 5em;
    background: url(images/rightcoltop.gif) no-repeat right top;
}

#navigation2 {
    position: absolute;
    right: 0;
    width: 5em;
    background: url(images/rightcoltop.gif) no-repeat left top;
}

#master_contentplaceholder {
    padding: 5px 20px 10px 20px;
    border-left: 1px solid #0F2543;
    border-right: 1px solid #0F2543;
    border-bottom: 1px solid #0F2543;
    background-color: #EFEFEF;
    line-height: 1.5em;
}

#master_contentfooter {
    clear: both;
    padding: 10px 0 5px 10px;
    color: #333;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

/* Content Page Layout */
.demoarea {
    padding: 20px;
    background: #FFF url(images/demotop.png) no-repeat left top;
}

    .demoarea p {
        padding: 5px;
    }

.demoheading {
    padding-bottom: 20px;
    color: #5377A9;
    font-family: Arial, Sans-Serif;
    font-weight: bold;
    font-size: 1.5em;
}

.demobottom {
    height: 8px;
    background: #FFF url(images/demobottom.png) no-repeat left bottom;
}


.heading {
    padding: 1em 0 1em 0;
    color: #5377A9;
    font-family: Arial, Sans-Serif;
    font-weight: bold;
    font-size: 1.2em;
}

.subheading {
    padding: .8em 0 0.5em 0;
    color: #0F2543;
    font-weight: bold;
    font-family: Arial, Sans-Serif;
    font-size: 1.1em;
}

p {
}

em {
    font-style: italic;
}

i {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.codeReference {
    font-family: 'Courier New', Monospace;
    font-style: normal;
    font-weight: bold;
}

pre, code {
    display: block;
    margin: 15px 15px 15px 0;
    padding: 10px;
    border: 1px dashed #CCC;
    background-color: #FFF;
    color: #000;
    font-family: 'Courier New', Monospace;
    font-size: 0.9em;
    font-style: normal;
}

.releaseList {
    list-style-type: disc;
}


/*Modal Popup*/
.modalBackground {
    background-color: Black;
    filter: alpha(opacity=20);
    opacity: 0.7;
}


.groupcode {
    width: 670px;
    height: 200px;
    padding: 10px;
    background: #FFF url(images/demotop.png) no-repeat left top;
}

a:hover {
    color: #495E88;
}

a:link {
    color: #495E88;
}

a:visited {
    color: #495E88;
}

a:active {
    color: #495E88;
}


.stGridHeader {
    border-bottom: 1px solid rgb(174, 202, 240);
    padding: 0px 0px 0px 0px;
    background-color: rgb(224, 237, 255);
    white-space: nowrap;
    background-repeat: repeat-x;
    background-image: url('images/rpHeaderBackground.gif'); /* background-image: url('../../App_Themes/Aqua/Web/rpHeaderBackground.gif'); */
    background-position: left top;
}

.stGrid {
    border: solid 1px #F5DC5D;
}

.table_h {
    color: #495E88;
    font-weight: bold;
    font-size: 9pt;
    height: 22px;
}

.textbox {
    font-size: 13px;
    background: #FEFFE7;
    font-family: "Tahoma";
    border: 1px solid #F0E3AE;
}

.textboxdis {
    font-size: 13px;
    background: #FFF5E6;
    font-family: "Tahoma";
    border: 1px solid #AECAF0; /*FONT-SIZE: 13px;BACKGROUND: #FFCCCC;FONT-FAMILY: "Tahoma";border: 1px solid #CCCCCC;*/
}


.validatorCalloutHighlight {
    background-color: lemonchiffon;
}


div#div-datagridbudget {
    width: 975px;
    height: 400px;
    overflow: auto;
    scrollbar-base-color: #dddddd;
}

/*
.modalPopup {
    background-color:#FFFFFF;
    border-width:1px;
    border-style:solid;
    border-color:Gray;
    padding:0px; 
    margin:0px;
    width:500px;
    height:500px;
    vertical-align:middle ; 
}*/

.modalPopup {
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: Gray;
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 500px;
    vertical-align: middle;
}

.div-headadd {
    color: #495E88;
    cursor: move;
    border-bottom: 1px solid #edcd11;
    padding: 0px 0px 5px 0px;
    background-color: #edcd11;
    white-space: nowrap;
    background-repeat: repeat-x;
    background-image: url('images/rpHeaderBackground.gif');
    background-position: left top;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

.numberbox {
    font-size: 13px;
    background: #FEFFE7;
    font-family: "Tahoma";
    border: 1px solid #F0E3AE;
    text-align: right;
    margin-top: 0px;
}


.AwNumericDefault {
    font-size: 13px;
    background: #FEFFE7;
    font-family: "Tahoma";
    border: 1px solid #F0E3AE;
    text-align: right;
    margin-top: 0px;
}

.AwNumericView {
    font-size: 13px;
    font-family: "Tahoma";
    border: 0px solid #AECAF0;
    text-align: right;
    margin-top: 0px;
}

.AwNumericReadOnly {
    font-size: 13px;
    background: #FFF5E6;
    font-family: "Tahoma";
    border: 1px solid #AECAF0;
    text-align: right;
}



.numberdis {
    font-size: 13px;
    background: #FFF5E6;
    font-family: "Tahoma";
    border: 1px solid #AECAF0;
    text-align: right;
}

.iframeShow {
    height: 90%;
    width: 100%;
    vertical-align: middle;
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    filter: Alpha(Opacity=70);
    opacity: 0.70;
    -moz-opacity: 0.70;
}

* html .overlay {
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px' );
    width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px' );
}

.loader {
    font-weight: bold;
    z-index: 100;
    position: fixed;
    width: 250px;
    height: 30px;
    margin-left: -60px;
    top: 50%;
    left: 50%;
    vertical-align: middle;
}

* html .loader {
    position: absolute;
    margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px' );
}


/** LOGO */

#logo {
    width: 100%;
    height: 115px;
    margin: 0 auto;
}

    #logo h1, #logo p {
        margin: 0px;
        line-height: normal;
        font-weight: normal;
        color: #618C04;
    }

    #logo p {
        margin-top: -4px;
        padding: 0px 0px 0px 30px;
        font-size: 13px;
        color: #FFFFFF;
    }

    #logo h1 {
        padding: 40px 0px 0px 30px;
        font-size: 35px;
        font-weight: bold;
    }

    #logo a {
        text-decoration: none;
        color: #A8A8A8;
    }

    #logo h1 a {
        text-decoration: none;
        color: #618C04;
    }


#banner {
    padding-bottom: 20px;
}



ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}

li {
    background: url(images/marker_r.gif) center left no-repeat;
    padding: 0 0 0 9px;
}


.printslip_load {
    background-color: Transparent;
    border-style: none;
    padding: 0px;
    min-height: 200px;
    background-image: url("img/load.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.printslip_report {
    background-color: Transparent;
    border-style: none;
    padding: 0px;
    height: 650px;
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-datepicker-trigger {
    padding-left: 3px;
    vertical-align: middle;
    cursor: pointer;
}

div.dd_chk_select_cust {
    display: none;
}

    div.dd_chk_select_cust div#caption {
        font-size: 13px;
        background: #FEFFE7;
        font-family: "Tahoma";
    }

div.dd_chk_drop_cust div#checks {
    /*border-style: Solid !important;
	border-width: 1px !important;
	border-color: Black !important;*/
}

div.dd_chk_drop div#checks {
    max-height: none !important;
}

div.dd_chk_select_cust:hover {
    cursor: pointer;
}

.rcorners2 {
    border-radius: 10px;
    border: 2px solid #F7DF3E;
    margin: -2px;
    float: left;
    width: 100%;
}

.rcorners1 {
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #F7DF3E;
    margin: -2px;
    background: #FBDD75;
    width: 100%;
    float: left;
    height: 30px;
}

.rcorners1_sub {
    border-radius: 0 0 5px 5px;
    border: 2px solid #F7DF3E;
    margin: -2px;
    float: left;
    width: 100%;
    background-color: #fff;
}

.lblHeader {
    font-family: Tahoma, Verdana, Arial;
    color: #283B56;
    font-size: 12px;
    width: 100%;
    display: table;
    text-align: left;
}

.container {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}

.wrapper {
    overflow: hidden;
}


.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.row {
    width: 100%;
    clear: both;
    display: inline-block;
}

.col-lg-2 {
    width: 15%;
    padding : 5px;
    float: left;
}

.col-lg-3 {
    width: 25%;
    float: left;
}

.col-lg-4 {
    width: 35%;
    float: left;
    display: inline-block;
}


.text-right {
    text-align: right !important;
}
